<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Payroll</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="">Guard Attendance</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href=""
              >Profile <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/post_record">Post Record</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/payroll">Payroll</a>
          </li>
          <li class="nav-item">
            <a
              onclick="return(confirm('Are you sure?'))"
              class="nav-link"
              href="/"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1 class="mt-4">Monthly Payroll</h1>

      <h2 class="mt-4">Attendance</h2>
      <ul>
        {% for record in attendance %}
        <li>{{ record.date }}: {{ record.status }}</li>
        {% endfor %}
      </ul>

      <h2 class="mt-4">Total Salary</h2>
      <p>{{ total_salary }}</p>
    </div>
  </body>
</html>
