<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"
    />
    <style>
      body{
        background: url("{{ url_for('static', filename='images/bg.jpeg') }}")
          no-repeat center center fixed;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/user_profile">Guard Attendance</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/user_profile"
              >Profile <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/post_record">Post Record</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/payroll">Payroll</a>
          </li>
          <li class="nav-item">
            <a
              onclick="return(confirm('Are you sure?'))"
              class="nav-link"
              href="/"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="container mt-5">
      <table id="myTable" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Recruiter ID</th>
            <th scope="col">Post Location</th>
            <th scope="col">Duty Time</th>
            <th scope="col">Duty Date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for post in posts %}
          <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.recruiter_id }}</td>
            <td>{{ post.post_location }}</td>
            <td>{{ post.duty_time }}</td>
            <td>{{ post.duty_date }}</td>
            <td>{{ post.status }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script>
      $(document).ready(function () {
        $("#myTable").DataTable();
      });
    </script>
  </body>
</html>
